
@model IEnumerable<MVCTasks.Models.ExcelData>

@using (Html.BeginForm("Upload", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </div>
}

@if (ViewBag.Error != null)
{
    <div style="color:red">
        @ViewBag.Error
    </div>
}

@if (Model != null && Model.Any())
{
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>
    </table>
}